
    
    
    
    <div class="container">
    </div>

    <div class="row mt-2">
    
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box">
                <i class="bx bx-map"></i>
                <h3 class="contactH3">Location</h3>
                <p class ="contactP">Waterloo, Ontario, Canada</p>
            </div>
        </div>
    
    
    
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3 class="contactH3">Email Me</h3>
                <p class ="contactP"><a href="mailto:ninazparveen@gmail.com">ninazparveen@gmail.com</a></p>
            </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box">
                <i class="bx bx-phone-call"></i>
                <h3 class="contactH3">Call Me</h3>
                <p class ="contactP">+1 416 732 8328</p>
            </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box">
                <i class="bx bxl-linkedin"></i>
                <h3 class="contactH3" >Linked In Contact</h3>
                <p class ="contactP"><a href="https://www.linkedin.com/in/ninaz-parveen-a5709748">https://www.linkedin.com/in/ninaz-parveen-a5709748</a></p>
            </div>
        </div>


    </div>
