
<div class="container containerDiv">
    <h1 class="indexH1">Hi,</h1>
    <h2 class="indexH2">I'm Ninaz,</h2>
    <h2 class="indexH2">Web Developer</h2>
    <h3>Full Stack Developer | Ecommerce Specialist</h3>
</div>

<!--<p>Welcome to {{title}}</p>
<p>This is my  {{title}} page</p> -->



