
<div class="container containerDiv">
    
    <div class="row">
       
            <div class="col-lg-8" data-aos="fade-left">
                <h1 class="indexH1">
                    
                    Hi,</h1>
                <h2 class="indexH2">I'm Ninaz,</h2>
                <h2 class="indexH2">Web Developer</h2>
                <h3>Full Stack Developer | Ecommerce Specialist </h3>
                <a href="/about">Know More about me here!</a>
                
            </div>
            <div class="col-lg-4" data-aos="fade-left">
            <img src="/images/techStack.jpg" class="img-tech" alt="profile pic" longdesc="Ninaz pic"> </div>

    </div>

</div>

<!--<p>Welcome to {{title}}</p>
<p>This is my  {{title}} page</p> -->



