<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Template from Bootswatch -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/boxicons.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-icons.css' />



    <!-- Nav bar code from w3schools -->
    <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        {{!-- <a class = "navbar-brand" href="/">Ninaz Parveen</a> --}}
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Me</a>
        </li>
      </ul>
    </nav>
    </header>
  
  </head>
  <body>
    {{{body}}}

    <footer>
      {{!-- <a href="mailto:ninazparveen@gmail.com">ninazparveen@gmail.com</a> &nbsp; &nbsp;  --}}
      
      
      <span>Follow me  at  <a href="https://www.linkedin.com/in/ninaz-parveen-a5709748">
      <i class="bx bxl-linkedin bxFooter"></i></a> 
      <a href="https://github.com/ninazparveen/">
      <i class="bx bxl-github bxFooter"></i></a>
    </footer>

  </body>
</html>
