
<div class="container containerDiv projectContainer">
    
    <div class="row">
        <div class="col-lg-4">
            <img src="/images/Makro.png" class="img-project" alt="Makro pic" longdesc="Makro">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Description</h3>
            <p class="fst-italic">
            Massmart Holdings Limited is a South African firm that owns local brands such as Game, Makro, Builder's
            Warehouse and CBW. It is the second-largest distributor of consumer goods in Africa, the largest retailer of general
            merchandise, liquor and home improvement equipment and wholesaler of basic foods.
            </p> 
            <div class="row">
                <div class="col-lg-6">
                    <h4>Role :- Technical Leader</h4>
                   {{!--  <h4>Responsibilities</h4>
                    <ul class="aboutMeUL">
                        
                        <li><i class="bi bi-chevron-right"></i>  <span> Requirements gathering with the business stake holders along woth the product owners.</span></li>
                        <li><i class="bi bi-chevron-right"></i>  <span> Guiding and helping the technical team on any technical queries
                            </span></li>
                        <li><i class="bi bi-chevron-right"></i>  <span>Introducing best practices developement processes.</span></li>
                    </ul> --}}
                </div>
                <div class="col-lg-6">
                    <h3>Technology Used</h3>
                    <ul class="aboutMeUL">
            
                        <li><i class="bi bi-chevron-right"></i>  <span>SAP Commerce (HYBRIS) v1905</span></li>
            
                        <li><i class="bi bi-chevron-right"></i> <span>Spring</span></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <img src="/images/GELogo.jpg" class="img-project" alt="Makro pic" longdesc="Makro">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Description</h3>
            <p class="fst-italic">
                GE Healthcare Service Shop (GSS Portal) intent to allow the customers to place orders there-by bringing the customer
                delight and help GE to increase the sales. GSS portal allows the user to purchase several healthcare products
                manufactured by both GE as well as multiple vendors such Philips, Siemens etc. This application has several integrations
                with Salesforce (Customer Identity),Oracle ERP, SIEBEL ERP, payment integration(EBS) etc
            </p>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Role :- Senior Developer</h4>
                    {{!-- <h4>Responsibilities</h4>
                    <ul class="aboutMeUL">
    
                        <li><i class="bi bi-chevron-right"></i> <span> Requirements gathering with the business stake
                                holders along woth the product owners.</span></li>
                        <li><i class="bi bi-chevron-right"></i> <span> Sole ownership for creating the technical design, building the solution
                                and unit testing of the features assigned.
                            </span></li>
                        <li><i class="bi bi-chevron-right"></i> <span>Successfully delivered features allocated on time and with high
                                quality.</span></li>
                    </ul> --}}
                </div>
                <div class="col-lg-6">
                    <h3>Technology Used</h3>
                    <ul class="aboutMeUL">
    
                        <li><i class="bi bi-chevron-right"></i> <span>SAP Commerce (HYBRIS) v1811</span></li>
    
                        <li><i class="bi bi-chevron-right"></i> <span>Spring</span></li>
                    </ul>
                </div>
            </div>
        </div>
    
    
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="/images/MVWC.jpg" class="img-project" alt="Makro pic" longdesc="Makro">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Description</h3>
            <p class="fst-italic">
                Marriott Vacations Worldwide Corporation is a pure-play public timeshare company.Web Redesign is an e-commerce website built on HYBRIS platform. It enables the users to book a resort using their
                allotted Weeks or converting the weeks values to Reward Points and redeeming those points.The client is headed in
                Orlando, Florida, USA.
            </p>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Role :- Hybris Developer</h4>
                   {{!--  <h4>Responsibilities</h4>
                    <ul class="aboutMeUL">
                        <li><i class="bi bi-chevron-right"></i> <span> Sole ownership for creating the technical design, building the solution and unit testing of the features assigned.
                            </span></li>
                        <li><i class="bi bi-chevron-right"></i> <span>Successfully delivered features allocated on time and with high quality.</span></li>
                    </ul> --}}
                </div>
                <div class="col-lg-6">
                    <h3>Technology Used</h3>
                    <ul class="aboutMeUL">
    
                        <li><i class="bi bi-chevron-right"></i> <span>SAP Commerce (HYBRIS) v5.7</span></li>
    
                        <li><i class="bi bi-chevron-right"></i> <span>Spring</span></li>
                    </ul>
                </div>
            </div>
        </div>
    
    
    </div>

<div class="row">
    <div class="col-lg-4">
        <img src="/images/mahindra-logo.jpg" class="img-project" alt="Makro pic" longdesc="Makro">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Description</h3>
        <p class="fst-italic">
        MAHINDRA & MAHINDRA is a DMS application. It is based on STRUTS,SPRING and iBATIS technologies. The purpose of this
        project is to Integrate the various Dealer Locations of Mahindra &Mahindra (M&M) with the Data Center for DMS located at
        Kandivali as well as with the corporate network infrastructure of M&M with the Dealers
        </p>
        <div class="row">
            <div class="col-lg-6">
                <h4>Role :- Developer</h4>
                {{!-- <h4>Responsibilities</h4>
                <ul class="aboutMeUL">

                    <li><i class="bi bi-chevron-right"></i> <span> Requirements gathering with the business stake
                            holders along woth the product owners.</span></li>
                    <li><i class="bi bi-chevron-right"></i> <span> Sole ownership for creating the technical design,
                            building the solution
                            and unit testing of the features assigned.
                        </span></li>
                    <li><i class="bi bi-chevron-right"></i> <span>Successfully delivered features allocated on time and
                            with high
                            quality.</span></li>
                </ul> --}}
            </div>
            <div class="col-lg-6">
                <h3>Technology Used</h3>
                <ul class="aboutMeUL">

                    <li><i class="bi bi-chevron-right"></i> <span>STRUTS 2.X</span></li>

                    <li><i class="bi bi-chevron-right"></i> <span>iBatis</span></li>
                </ul>
            </div>
        </div>
    </div>


</div>

</div>


